
.icon-dollar:before { content: '\e807'; } /* '' */
.icon-paypal:before { content: '\e805'; } /* '' */
.icon-bitcoin:before { content: '\e806'; } /* '' */
.icon-rss:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-itunes:before { content: '\e800'; } /* '' */